<div class="container mt-5">
  <div class="container col-ms-9">
    <form action="" class="mx-auto col-md-9 ">
      <select class="form-select" name="" id="">
        <option value="">餐飲類</option>
        <option value="">服飾類</option>
        <option value="">住宿類</option>
        <option value="">交通費</option>
        <option value="">其他</option>
      </select>
    </form>
    <div class="d-flex justify-content-evenly mt-5">
      <div class="fs-1">總金額:</div>
      <div class="fs-1 text-warning">8787</div>
    </div>
  </div>
  <div class="container list-group">
    <div class="row">
      <div class="">
        <i class="fas fa-utensils category-icon"></i>
      </div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

  </div>
</div>